// SENSOR_NAME will be used when
//  * broadcasting the temperature
//  * mDNS name SERVER_NAME.local
//  * communicating to InfluxDB server
const char *SENSOR_NAME = "Sensor X";

// Set this only in case you use InfluxDB
const char *INFLUXDB_TOKEN = "influxdb-token-for-this-device";
